<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%responses.forEach(function(responses){%>
        <%if(responses.submit===true){%>
            <div>
                <h1>Title - <%=responses.title%></h1>
                <p> Description -<%=responses.description%></p>
                <p>DueDate - <%=responses.dueDate%></p>
                <p>Answer - <%=responses.response%></p>
            </div>
        <%}%>
    <%});%>    
</body>
</html>