<%- include('./partials/header'); -%>  
    <a href="/studentlogin"><button>Student Login</button><br></a>
    <a href="/studentregister"><button>Student Register</button></a>    
<%- include('./partials/footer'); -%>