<%- include('./partials/header'); -%>  
    <form method="post">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
    </form> 
<%- include('./partials/footer'); -%>