<%- include('./partials/header'); -%>  
    <a href="/teacherlogin"><button>Teacher Login</button><br></a>
    <a href="/teacherregister"><button>Teacher Register</button></a>    
<%- include('./partials/footer'); -%>