<%- include('./partials/header'); -%>  
    <form method="post">
        <input type="text" name="fName" placeholder="Enter your first name">
        <input type="text" name="lName" placeholder="Enter your last name">
        <input type="text" name="classe" placeholder="Enter your class">
        <input type="email" name="email" id="" placeholder="Enter your email">
        <input type="password" name="password" id="" placeholder="Enter your password">
        <button type="submit">Submit</button>
    </form>
<%- include('./partials/footer'); -%>  