<%- include('./partials/header'); -%>  
    <form method="post">
        <input name="title" placeholder="Enter title"/>
        <input type="text" name="description" placeholder="Enter description">
        <input type="date" name="dueDate" id="" placeholder="Enter Due Date">
        <button type="submit">Submit</button>
    </form>
    <a href="/responses"><button>View Responses</button></a>
<%- include('./partials/footer'); -%>